.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: min-content;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  list-style: none;
  margin: 5px 0;
}

section {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
